.main-sec {
	display: grid;
	font-size: 18px;
	width: 80%;
	margin: auto;
}

.main-sec > div{
	padding: 1% 0 2% 0;
}

.portada img {
	width: 100%;
}

h1, h2, h3 {
	text-align: center;
}

.q-somos {
	text-align: center;
}

.container {
	width: 100%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
	margin-right: auto;
	margin-left: auto;
}

*, *::before, *::after {
	box-sizing: border-box;
}

.divider-custom {
	margin: 1.25rem 0 1.5rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.divider-custom .divider-custom-line {
	width: 100%;
	max-width: 7rem;
	height: 0.25rem;
	background-color: #105785;
	border-radius: 1rem;
	border-color: #105785 !important;
}

.divider-custom .divider-custom-line:first-child {
	margin-right: 1rem;
}

.divider-custom .divider-custom-line:last-child {
	margin-left: 1rem;
}

.divider-custom .divider-custom-icon {
	color: #105785 !important;
	font-size: 2rem;
}

.divider-custom.divider-light .divider-custom-line {
	background-color: #fff;
}

.divider-custom.divider-light .divider-custom-icon {
	color: #fff !important;
}

.text-center {
	text-align: center !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-end {
	align-items: flex-end !important;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -1.5rem;
	margin-left: -1.5rem;
}

.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1, .col-sm-pic, .col-sm-preview, .col-lg-2-1, .col-lg-3-1, .col-lg-8-1 {
	position: relative;
	width: 100%;
	padding-right: 1.5rem;
	padding-left: 1.5rem;
}

.col-lg-6 {
	flex: 0 0 50%;
	max-width: 50%;
}

.service-fixed-pt {
	padding-top: 3rem;
}

@media(min-width: 992px) {
	.service-fixed-pt {
		padding-top: 0%;
	}
}

.flex-wrap-reverse {
	flex-wrap: wrap-reverse !important;
}

.pt-5, .py-5 {
	padding-top: 3rem !important;
}

.mt-4, .my-4 {
	margin-top: 1.5rem !important;
}

.w-90 {
	width: 90% !important;
}

.paginas-web {
	align-self: center;
}

.pag-web-content {
	display: grid;
	grid-template-columns: 35fr 65fr;
}

.pag-web-content p {
	justify-self: left;
	align-self: center;
	margin-left: 30px;
}

.pag-web-content p a {
	display: inline-block;
	text-decoration: none;
	background-color: #F20519;
	outline: none;
	margin: 1% 0;
	padding: 1%;
	width: 15%;
	border-radius: 0.5em;
	border: none;
	color: #fff;
	cursor: pointer;
}

.client-logos img {
	width: 25%;
}