.main-header {
  background-color: var(--turquesa);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.secLogo{
  display: flex;
  width: 50%;
}

.logo-img, .logo-name{
  display: grid;
  align-content: center;
}

.logo, .circulo{
  padding: 2% 7%;
  width: 130px;
  grid-column: 1;
  grid-row: 1;
}

.name, .guion{
  padding: 2% 0;
  width: 200px;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

.bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  border: none;
  width: 50vw;
  align-items: center;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 0.9rem;
}

li a {
  display: block;
  min-width: 6rem;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

li a:hover {
  background-color: #00587a;
  opacity: 1;
  transition: 0.3s;
  border-top-right-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  border-top-left-radius: 2.5px;
}

/*----------------------   svg name   ------------------------*/

.guion:hover{
  animation-name: tictoc;
  animation-duration: 1s;
  -moz-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

@keyframes tictoc {
  from{opacity: 1;}
  to{opacity: 0;}
}

/*----------------------   svg logo   ------------------------*/

.circulo:hover{
  animation-name: blup;
  animation-duration: 0.6s;
  -moz-animation-iteration-count: 4;
  animation-iteration-count: infinite;
}

@keyframes blup {
  from{transform: translate(0px, 0px); opacity: 1;}
  to  {transform: translate(-100px, -1.3px); opacity: 0;}
}