:root{
  --rojo:#F20519;
  --negro:#0D0D0D;
  --amarillo: #F2E205;
  --naranja: #F2490C;
  --bordo: #590202;
  --blanco: #FFFFFF;
  --gris-claro: #F2F2F2;
}

html {
  min-height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 22px;
  font-weight: 400;
  font-size: 1.2em;
  background-color: #e7e7de;
}

.body-compuchan {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 78px;
  margin: 0;
}

.sec1 {
  background-color: #008891;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.secLogo{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  border: none;
  width: 50vw;
}

.logo-img, .logo-name{
  display: grid;
}

.logo, .circulo{
  padding: 10px;
  width: 130px;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

.name, .guion{
  padding: 10px;
  width: 200px;
  height: auto;
  grid-column: 1;
  grid-row: 1;
}

.bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  border: none;
  width: 50vw;
  align-items: center;
}

li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 1rem;
  font-size: 0.9rem;
}

li a {
  display: block;
  min-width: 6rem;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

li a:hover {
  background-color: #00587a;
  opacity: 1;
  transition: 1s;
}

section{
  margin: 64px;
}

/*----------------------  footer  ------------------------*/

.compuchan-foot {
  background-color: #0f3057;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.img-c {
  align-content: center;
}

.img-cd {
  display: block;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

/*----------------------   svg name   ------------------------*/
.guion:hover{
  animation-name: tictoc;
  animation-duration: 1s;
  -moz-animation-iteration-count: 4;
  animation-iteration-count: 4;
}

@keyframes tictoc {
  from{opacity: 1;}
  to{opacity: 0;}
}

/*----------------------   svg logo   ------------------------*/

.circulo:hover{
  animation-name: blup;
  animation-duration: 0.6s;
  -moz-animation-iteration-count: 4;
  animation-iteration-count: infinite;
}

@keyframes blup {
  from{transform: translate(0px, 0px); opacity: 1;}
  to  {transform: translate(-100px, -1.3px); opacity: 0;}
}