/*  ---------compuchan------  */
:root{
  --rojo:#F20519;
  --negro:#0D0D0D;
  --amarillo: #F2E205;
  --naranja: #F2490C;
  --bordo: #590202;
  --blanco: #FFFFFF;
  --gris-claro: #F2F2F2;
}
html {
  /* To make use of full height of page*/
  min-height: 100%;
  margin: 0;
  /*super importante,
  es el unico issue que hasta ahora hace que mi
   'background-image: linear-gradient'
   funcione correctamente sin cortarse
   Usar siempre que manipulemos gradient*/
  font-family: 'Graphik Light', 'Verdana', 'Helvetica', 'Arial';
}

.body-compuchan {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sec1 {
  background-color: var(--negro);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.bar {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: -webkit-sticky;
  position: sticky;
  border: none;
  width: 50vw;
}

li {
  background-color: var(--rojo);
  font-family: "Graphik Black", 'Verdana', 'Helvetica', 'Arial';
  margin-left: 1rem;
}

li a {
  display: block;
  min-width: 6rem;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}

li a:hover {
  background-color: var(--naranja);
  opacity: 1;
  transition: 1s;
}

.ttl {
  padding: 20px;
  font-family: "monaco"; /*analizar y borrar*/
  font-size: 60px;
  text-align: left;
  color: var(--blanco);
  text-shadow: 5px 4px rgba(0, 0, 0, 1);
  margin: 0;
}

.ttlDest{
  background-color: var(--negro);
  color: var(--blanco);
  font-family: 'Graphik Medium', 'Verdana', 'Helvetica', 'Arial';
  padding: 0.2rem 0 0.2rem;
}

/* ----------------------    Login    ---------------------------------------- */
.log-body {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
  /*background-image: linear-gradient(to top, #09203f 0%, #537895 100%);*/
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
}

.ttl-log {
  grid-column: 2 / span 1;

  width: 80%;
  font-family: "monaco";
  font-weight: normal;
  font-size: 48px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-shadow: 2px 2px 5px black;
}

.space-1 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 5;
}

.formulario {
  grid-column: 2 / span 1;
}

.form-compuchan-log {
  display: block;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
  font-family: "arial", 'Verdana', 'Helvetica';
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  border-radius: 10px;
  padding: 25px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-form {
  display: none;
}

.sub-form-in {
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 0.5rem;
  text-align: center;
}

.log-boton {
  display: block;
  background-color: #23222b;
  border: none;
  border-radius: 10px;
  font-family: helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  width: 50%;
}

.log-boton:hover {
  border: none;
  background-color: #6bc1ff;
  color: #1e2640;
  transition: 2s;
  transition-timing-function: ease-out;
}

.log.boton:active:after {
  border: none;
}

.space-2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 5;
}

.separador {
  grid-column: 2 / span 1;

  margin-top: 5px;
  margin-left: 33.3%;
  margin-right: 33.3%;
  margin-bottom: 0px;
  width: auto;
  border: 1px solid #ffffff;
  transform: rotate(180deg);
}

.img-c {
  align-content: center;
}

.img-cd {
  display: block;
  width: 8%;
  margin-left: auto;
  margin-right: auto;
}

.login-foot {
  grid-column: 2 / span 1;
  position: absolute;
  bottom: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* ----------------------   Interest    ---------------------------------------- */
p{
  font-size: 1.25rem;
  color: var(--negro);
}
.inter-sec {
  padding-top: 100px;
  padding-left: 15%;
  padding-right: 15%;
  min-height: 100vh;
  margin: 0;
}
.galeria {
  margin: 4vh;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.galeria-sub {
  border-radius: 6px;
  opacity: 0.6;
}
.galeria-sub:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  transition: 0.7s;
}
.interest-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.compuchan-foot {
  background-color: var(--negro);
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
